/Temp
/obj
/Library
/ProjectBuilds
/AssetBundles
*.csproj
*.unityproj
*.sln
*.suo
*.pidb
*.userprefs
balance-hashes.*
server-splits.*
serverDB-split*
Assets/StreamingAssets
Assets/-tk2d.*
Assets/Resources/tk2d/*
.DS_Store
TapjoyXcodeUpdatePostBuild.log
*.holderCache
*.holderCache.meta
/Assets/Editor/P31RestKit.*
/Assets/Editor/Prime31*
/Assets/Editor/StoreKit*